# 💋 muah theme ports, fetched from Trugamr/muah and pinned via .chezmoidata.toml

[".config/fzf/muah.opts"]
    type = "file"
    url = "https://raw.githubusercontent.com/Trugamr/muah/{{ .muah_ref }}/ports/fzf/muah.opts"

[".config/tmux/muah.conf"]
    type = "file"
    url = "https://raw.githubusercontent.com/Trugamr/muah/{{ .muah_ref }}/ports/tmux/muah.tmux.conf"

[".config/zsh/muah.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/Trugamr/muah/{{ .muah_ref }}/ports/zsh/muah.zsh"
